<h1>
 {{ (title | async)?.name }}
</h1>

<div> {{ (af.auth | async)?.uid }} </div>
  <button (click)="login()">Login</button>
  <button (click)="logout()">Logout</button>

<ul>
  <li class="text" *ngFor="let sport of sports | async">
   <input type="text" #updatetext [value]="sport.text" />
   <button (click)="updateSport(sport.$key, updatetext.value)">Update</button>
   <button (click)="deleteSport(sport.$key)">Delete</button>
  </li>
</ul>
<input type="text" placeholder="sport" #newitem />
<input type="text" placeholder="category" #newcategory />
<button (click)="addSport(newitem.value, newcategory.value)">Add Sport</button>
<button (click)="deleteSports()">Delete Sports</button>



